html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 微軟儷黑體, 微軟正黑體, Arial, Helvetica, Verdana,
    \5fae\8edf\6b63\9ed1\9ad4, sans-serif, 微軟儷黑體, 微軟正黑體, Arial,
    Helvetica, Myriad Pro, Microsoft, bauerbodonistd-roman, Century Gothic,
    "Asap", Futura, "Lucida Grande", Geneva, Helvetica,
    "sourcehansans-tc-normal", "sans-serif", Tahoma;
  background-color: #fff;
  font-size: 18px;
}
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:link,
a:visited,
a:active {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  width: 100%;
  border: 0;
}
.img {
  position: relative;
  line-height: 20px;
  overflow: hidden;
}
.img img {
  width: 100%;
}
a:hover .img_mask {
  background-color: rgba(0, 0, 0, 0.3);
}

input::-ms-clear {
  display: none;
}
a:hover {
  color: #e62320;
}
/*去除input默認樣式*/
/* textarea,
text,
select,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px #ff9398 solid;
} */
/*去除 Chrome focus 時外框*/
input:focus {
  outline: 0;
}
textarea:focus {
  outline: 0;
}
select:focus {
  outline: 0;
}

html::-webkit-scrollbar {
  width: 3px;
  background: #000;
}
html::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0;
  background: #fff;
}
/* scrollbar */
html::-webkit-scrollbar-thumb {
  background: #E15D34;
}
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

/*list play*/
.list_play {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../images/img_vedio_player_midium_M.svg) no-repeat center
    center;
  background-size: 40px;
}
@media (max-width: 1023px) {
  .list_play {
    background: url(../images/img_vedio_player_midium_M.svg) no-repeat center
      center;
    background-size: 30px;
  }
}
/*list play ed*/
/*文字圖片效果*/

.overlay-color {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  line-height: 0;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0);
  transition: 0.3s linear;
}

.img:hover .overlay-color,
a:hover .overlay-color {
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

/*文字圖片效果 ed*/

/* pc & mo */
.pc {
  display: block;
}
.mo {
  display: none;
}
@media (max-width: 767px) {
  .pc {
    display: none;
  }
  .mo {
    display: block;
  }
}
/* pc & mo ed*/


/*--gotoTop--*/
#back {
  text-align: center;
  position: fixed;
  z-index: 2;
  right: 20px;
  bottom: 20px;
  transition: 0.5s;
  display: none;
  cursor: pointer;
  padding: 0;
  border: 2px solid #F9C644;
  background: #FFFFFF;
  border-radius: 3px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

#back-img1 {
  cursor: pointer;
  display: block;
}


#back-img1 img {
  /* width: 22.43px; */
  width: 18px;
  margin-top: calc((46px - 10.8px)/2);

}
/*--gotoTop end--*/

/*框架*/

.frame_box {
  width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1281px) {
    .frame_box {
      width: 1070px;
      margin: 0 auto;
    }
  }
@media (max-width: 1080px) {
  .frame_box {
    width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .frame_box {
    box-sizing: border-box;
    width: 384px;
    width: 600px;
    margin: 0 auto;
  }
}
/* @media (max-width: 414px) { */
@media (max-width: 640px) {
  .frame_box {
    box-sizing: border-box;
    width: auto;
    margin: 0px;
  }
}
/*框架ed*/

/*logo_box*/
.logo_box {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    padding: 24px 40px;
    padding: 12px 20px;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    /* height: 56px; */
  }
  .logo_box .logo {
    /* width: 112px; */
    width: 56.62px;
    height: auto;
    float: left;
  }
  
  /* 右上角社群icon */
  .logo_box .community {
    display: flex;
    align-items: center;
  }
  .logo_box .community a {
    /* width: 45px; */
    width: 32px;
    margin-right: 15px;
  }
  .logo_box .community a:last-child {
    margin-right: 0;
  }
  
  @media (max-width: 768px) {
    .logo_box {
      /* position: absolute;
      align-items: start; */

      /* margin-top: 10px; */
    }
    /* .logo_box .community a {
      width: 30px;
    } */
    /* .logo_box .community .community_icon {
      display: none;
    } */
  }
  /* 右上角社群icon ed*/
  


    /* old banner換圖的斷點 */
  /* @media (max-width:447px) {
 
    .logo_box {
      padding: 24px 40px;
    }
  } */
  
  @media (max-width: 397px) {
    .logo_box .logo {
      margin: 0px;
    }
    .logo_box .community {
      /* margin-top: 60px; */
    }
  }
  
  /* 右上角熱門景點 ed*/
  
  /*logo_box ed*/






header .bg {
  margin-top: 61px;
    background: url(../images/bg.png) top no-repeat;
    width: 100%;
    height: 164px;
    background-size: cover;
    display: flex;
    align-items: center;
    /* text-align: center; */
  }

  .logo_box{
    background-color: #F9C644;
    /* background-image:linear-gradient(to bottom, #F9C644, #FFFFFF); */
  }
  header .contxt {
    width: auto;
    margin: 0 auto;

  }
  .title{
    /* background: url(../images/title_desk.png) top no-repeat; */
    min-width:466px;
    height: 76px;
    background: url(../images/title_desk.svg) top no-repeat;
    background-size: contain;
    background-size: cover;
    text-align: center;
    align-items: center;
    position: relative;
    display: inline-block;
    color: #FFFFFF;
  }
  .title h1{
    font-size: 48px;
    display: inline-block;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width:767px) {
    .title{
        min-width:368px;
        height: 60px;
    }

    .title h1{
        height: 60px;
        font-size: 32px;
    }
  }
  @media (max-width:447px) {
    /* header .bg {
        margin-top: 81px;
        background: url(../images/bg_m.png) top no-repeat;
        width: 100%;
 
        height: 225px;
        height: 306px;
        background-size: cover;
        display: flex;
        align-items: center;
        position: relative;
      } */
      /* .contxt{
        position: absolute;
        top:50px;
        left: calc((100vw - 368px) / 2);
      } */
  }
  @media (max-width:411px) {
    .contxt{
        left: calc((100vw - 300px) / 2);
      }
    .title{
        min-width:300px;
        height: 49px;
    }

    .title h1{
        height: 49px;
        font-size: 32px;
    }

  }
  @media (max-width:375px) {
    header .bg {
      margin-top: 61px;
      background: url(../images/bg_m.png) top no-repeat;
      width: 100%;
      height: 138px;
      background-size: cover;
      display: flex;
      align-items: center;
      position: relative;
    }
  }

/* 主內容區塊 */
  main{
    margin-top: -19px;
  }
  /* 按鈕 */
  .frame_box .btns {
    position: relative;
    z-index: 1;
    text-align: center;
  }
  .frame_box .btns a{
    display: inline-block;
    border:1px solid #DCDCDC;
    border-radius: 24px;
    padding: 8px 20px;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.1);
    margin-right: 16px;
    color: #999999;

    font-weight: bolder;
    background-color: #FFFFFF;
  }
  .frame_box .btns a h2{
    font-size: 18px;
  }
  .frame_box .btns a:nth-child(3){
    margin-right: 0px;
  }
  .frame_box .btns .active{
    background-color: #E15D34;
    border:1px solid #E15D34;
    color: #FFFFFF;
  }
  /* @media (max-width:447px) {
    main{
        margin-top: -160px;
      }
  } */
  @media (max-width:411px) {
    .frame_box .btns a{

        margin-right: 8px;

      }
    .frame_box .btns a:nth-child(3){
        margin-right: 0px;
      }
  }
  @media (max-width:349px) {
    .frame_box .btns a{
        margin-right: 8px;
      }
    .frame_box .btns a h2{
        font-size: 14px;
      }
  }
/* 期數下拉選單 */
.frame_box .dropdown{
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  margin-top: 24px;
}
  .frame_box .dropdown select{
    border-radius: 8px;
    width: 202px;
    height: 40px;
    border: 1px solid #D7D7D7;
    background: #FFFFFF;
    color: #B3B3B3;
  }
  .frame_box .information{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 16px;
  }
  .frame_box .information p{
    font-weight: bolder;
    font-size: 16px;
  }
  .frame_box .information span{
    color:#999999;
    font-size: 12px;
  }
  /* 樂透號碼列表 */
  .frame_box .lottery_lists .lottery{
   padding: 24px;
    background-color: #F5F5F5;
    margin-bottom: 16px;
    border-radius: 6px;
  }
  .frame_box .lottery_lists .lottery .lottery_title{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 18px;
  }
  .frame_box .lottery_lists .lottery .list{
    display: flex;
    margin-top: 37px;
  }
  .frame_box .lottery_lists .lottery .list .num{
    width: 86px;
    height: 85px;
    background-color: #F9C644;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bolder;
    margin-right: 16px;
  }
  .frame_box .lottery_lists .lottery .list .special{
    background-color: #E15D34;
    color: #ffffff;
    position: relative;
    margin-right: 0px;
  }
  /* 威力彩 */
  .frame_box .lottery_lists.power .lottery .list .num{
    background-color: #65E06A;
  }
  .frame_box .lottery_lists.power .lottery .list .special{
    background-color: #E15D34;
    color: #ffffff;
  }
  /* 威力彩 end  */

  
  .frame_box .lottery_lists .lottery .list .special .small_title{
    position: absolute;
    top:-20px;
    color: #E15D34;
    font-size: 12px;
  }
  @media (max-width: 1080px) {
    .frame_box .lottery_lists .lottery .list .num{
      height: 76px;
    }

  }
  @media (max-width: 767px) {
    .frame_box .lottery_lists .lottery .list{
      display: flex;
     justify-content: center;
    }
    .frame_box .lottery_lists .lottery .list .num{
      width: 44px;
      height: 43px;
      font-size: 20px;
    }
  }
  @media (max-width: 640px) {

  }
  @media (max-width: 457px) {
    .frame_box .lottery_lists .lottery .list .num{
       margin-right: 4px;
    }
    .frame_box .lottery_lists .lottery .list .special{
      margin-right: 0px;
    }
  }
  @media (max-width: 383px) {
    .frame_box .lottery_lists .lottery{
      padding: 24px 20px;
     }
     .frame_box .lottery_lists .lottery .lottery_title{
      font-size: 16px;
    }
    .frame_box .lottery_lists .lottery .list .num{
      width: 36px;
      height: 35px;
      font-size: 14px;
    }

  }


/*footer*/
footer{margin-top:50px;width:100%;padding:20px 15px;background-color:#F9C644;overflow:hidden;color:#000000;text-align:center;box-sizing: border-box;}
footer small{}
footer .logo_box{margin-bottom:5px;}
footer .logo_box li{width:30px;display:inline-block;vertical-align:top;padding-top:5px;margin-right:5px;}
footer .logo_box li:first-child{width:80px;padding-top:0;margin-right:0;}

@media (max-width:767px) {
    footer{margin-top:34px;}
    footer small{font-size:12px!important;} 
}
/*footer ed*/